* {
    box-sizing: border-box;
}

@font-face {
    font-family: brands;
    src: url(../font/awsome/fa-brands-400.ttf);
}

@font-face {
    font-family: rockSalt;
    src: url(../font/RockSlat/RockSalt-Regular.ttf);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: start;
}

h1, h2, h3, h4, h5, h6, p, div, ul {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

select {
    cursor: pointer;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select {
    cursor: pointer;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

 main colors */

.container {
    max-width: 545px;
    margin: 0 auto;
}

.main-nav {
    padding: 0 15px;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: #fffffff0
}

.form-nav {
    display: none;
}

.main-nav ul li {
    line-height: 30px;
    padding: 0;
    border-radius: 2px
}

.logo {
    font-family: rockSalt;
    font-size: 30px;
}

.link-container {
    background: linear-gradient( 40deg, #ff006f, #46b8eb);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 240px;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    height: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.user-pref {
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 1rem
}

.link-container label {
    cursor: pointer;
}

.link-container select {
    color: rgb(18, 25, 116);
    background: inherit;
    border-radius: 2em;
    border: 2px solid #fff;
    font-size: 18px;
    margin-bottom: 1rem
}

.connect-link {
    justify-content: space-evenly;
}

.connect-link li a {
    font-family: fantasy;
    font-size: 22px;
}

.link-container a {
    color: #fff;
    font-weight: 300;
    font-size: 1.125rem;
    height: 36px;
    line-height: 36px;
    display: block;
    padding-left: 20px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease-in-out
}

.link-container a:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.main-header {
    background-image: url(../img/8.jpg);
    background-size: cover;
    padding: 140px 0;
    color: ghostwhite;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 2.2px #0e0f10;
    font-family: cursive;
    margin-bottom: 35px;
    margin-top: 61px;
    border-radius: 0.6rem;
    box-shadow: 0px 1px 3px 0px black;
}

.main-header h1 {
    font-family: fangsong;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-decoration: overline;
    color: #090313;
    text-shadow: 0 0 2.2px #ffffff;
}

.main-header h2 {
    margin: 0;
    padding-bottom: 32px;
}

.main-header h3 {
    text-decoration: underline;
}

.tag-container {
    text-transform: capitalize;
    text-shadow: 1px 2px 2px #0134ec;
}

.main-header .tag-container a {
    font-size: 1.4rem;
}

.main-header .tag-container a:hover {
    color: #8caaff;
}

.generator-container {
    gap: 15px;
    margin-top: 75px;
    flex-direction: column-reverse
}

.user-controller {
    border: 2px solid #2677ff88;
    border-radius: 1rem;
    padding: 1rem;
    background-color: lavender;
    align-items: center;
    width: 239px;
    flex-direction: column-reverse;
}

.btn-controller {
    background-size: cover;
    padding: 16px;
    height: 30px;
    margin: 3px;
    border-radius: 0.4rem;
}

.btn-move {
    background: #6d85ff;
    border-radius: 1rem;
    font-size: 10px;
    padding: 1px 9px;
    text-decoration: none;
    color: aliceblue;
    margin: 2px;
}

.btn-move:hover {
    background: #89b2cc;
    text-decoration: none;
}

.btn-move-up::after {
    content: '\2B06';
    font-size: 1.6rem;
}

.btn-move-down::after {
    content: '\2B07';
    font-size: 1.6rem;
}

.btn-swicth-line {
    background-color: #ffe607;
    background-image: url(../img/btn/up-and-down-opposite-double-arrows-side-by-side.png);
}

.btn-add-line {
    background-color: #8ec38e;
    background-image: url(../img/btn/add.png);
}

.btn-remove-line {
    background-color: orangered;
    background-image: url(../img/btn/trash.png);
}


.btn-align-left {
    background-color: lightblue;
    background-image: url(../img/btn/align-to-left.png);
}

.btn-align-right {
    background-color: lightblue;
    background-image: url(../img/btn/align-to-right.png);
}

.btn-align-center {
    background-color: lightblue;
    background-image: url(../img/btn/center-text-alignment.png);
}

.update-stroke {
    background-color: #6d85ff;
    background-image: url(../img/btn/text-stroke.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-screen {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

body.menu-open .link-container {
    transform: translateX(0);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4px 4px;
    margin-bottom: 20px;
}

.grid-container img {
    cursor: pointer;
}

.btn {
    background: #a5a9bd;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 15px 15px 10px;
}
.btn:hover {
    background: #89b2cc;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.hide {
    opacity: 0;
}

@media screen and (min-width:550px) {
    .form-nav {
        display: block;
    }
    .user-controller {
        width: auto;
        flex-direction: column;
    }
}

@media screen and (min-width:700px) {
    .container {
        max-width: 650px;
        margin: 0 auto;
    }
    .main-nav {
        padding: 0;
    }
    .main-header {
        padding: 128px 0;
        margin-bottom: 35px;
        margin-top: 61px;
        background-size: contain;
    }
    .main-header h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width:850px) {
    .generator-container {
        flex-direction: row;
        margin-top: 75px;
    }
}

@media screen and (min-width:1000px) {
    .container {
        max-width: 940px;
    }
    .main-header {
        padding: 124px 0;
    }
    .main-header h1 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width:530px) {
    .generator-container {
        align-items: center;
    }
}
